{% extends "movie/mode.html" %}


{% block css %}
    <link rel="stylesheet" href="/static/css/index.css">

{% endblock %}


{% block content %}
    <div class="detail" style="padding: 15px 25px;min-width: 1050px;">
        <div style="display: inline-block;width:760px;height: 700px">

            <div class="" style="display: inline-block;width: 310px;height: 400px">
                <a href="/">
                    <img style="width: 280px" src="../../static/img/p2519070834re.webp">
                </a>
            </div>
            <div style="display: inline-block;width:480px;height: 400px;float: right;margin-left: -30px;padding-right: 22px">
                <ul id="video_info" style="list-style: none">
                    <li><a href="/">我不是药神</a></li>
                    <li>主演</li>
                    <li>主演</li>
                    <li>主演</li>
                    <li>主演</li>
                    <li>主演</li>
                    <li>
                        主演啊大大大大大主演啊大大大大大主演啊大大大大大主演啊大大大大大主演啊大大大大大主演啊大大大大大主
                        演啊大大大大大主演啊大大大大大主演啊大大大大大主演啊大大大大大主演啊大大大大大主演啊大大大大大主演
                        啊大大大大大主演啊大大大大大主演啊大大大大大主演啊大大大大大主演啊大大大大大主演啊大大大大大主演啊
                        大大大大大主演啊大大大大大主演啊大大大大大主演啊大大大大大主演啊大大大大大主演啊大大大大大
                    </li>
                </ul>
            </div>
            <hr style="height:3px;border-top:2px solid #d3d3d3;"/>

            <div style="margin:10px 0;border:1px solid #d3d3d3;padding: 3px">
                <div style="border:1px solid #d3d3d3;padding: 8px">
                    在线观看：<a href="/video_play">
                    <button type="button" class="btn btn-default">高清1080p</button>
                </a>
                </div>
            </div>
        </div>
        <div class="right_c"
             style="display:inline-block;min-width: 20%;width: 20%;float: right;margin:0 auto;color: #5e5e5e">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">热门</h3>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <a href="/">我不是药神</a>
                    </div>
                    <div class="media">
                        <a href="/">我不是药神</a>

                    </div>
                    <div class="media">
                        <a href="/">我不是药神</a>

                    </div>
                    <div class="media">
                        <a href="/">我不是药神</a>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">随机</h3>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <a href="/">我不是药神</a>

                    </div>
                    <div class="media">
                        <a href="/">我不是药神</a>

                    </div>
                    <div class="media">
                        <a href="/">我不是药神</a>

                    </div>
                    <div class="media">
                        <a href="/">我不是药神</a>

                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}


{% block js %}

{% endblock %}
