.item {
    clear: both;
    max-height: 500px;
    width: 247px;
    display: inline-block;
    margin: 5px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

* {
    margin: 0;
    text-decoration: none;
}

.right_c a {
    color: #5e5e5e;
}

.btn a {
    color: white;
}

.item_footer {
    /*{#float: right#}*/

}

.item_footer span {
    margin: 8px 8px 8px 0;
}

.media-left img {
    max-height: 240px;
}

.media-left a img {
    max-height: 360px;
}

.media-body a {
    font-size: 20px;
}

.media {
    margin-top: 5px;
}

.panel-body .media-body {
    width: 20%;
    text-align: center;
}

.panel-body .media-body img {
    width: 85%
}

#notice {
    background-color: #5bc0de;
    text-align: center;
    margin-top: -20px;
    font-size: 17px;
}

#tgBigox {
    position: relative;
    width: 90%;
    /*margin-left: 10%;*/
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    /*margin-top: -20px;*/
}

#tgGoox {
    position: absolute;
    height: 30px;
    line-height: 30px;
    top: 0;
    width: 900px;
    left: 60px;
}

#tgGoox a {
    color: #fff;
    margin-left: 10px;
    /*float: left;*/
}

#tgGoox a:hover {
    color: #000;
}

.filter_field {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

hr {
    margin: 10px 0;
}

#video_info li {
    margin: 10px 0;
}