<div style="margin:10px 0;border: 1px solid #d3d3d3;padding: 12px;min-width: 600px">
    <div>类型 :
        <span class="filter_field">喜剧</span><span class="filter_field">动作</span>
        <span class="filter_field">犯罪</span><span class="filter_field">惊悚</span>
        <span class="filter_field">爱情</span><span class="filter_field">战争</span>
        <span class="filter_field">科幻</span><span class="filter_field">动画</span>
    </div>
    <hr style="height:1px;border:none;border-top:1px solid #d3d3d3;"/>
    <div>地区 :
        <span class="filter_field">华语</span><span class="filter_field">美国</span>
        <span class="filter_field">日韩</span><span class="filter_field">欧洲</span>
        <span class="filter_field">香港</span><span class="filter_field">其他</span>
    </div>
    <hr style="height:1px;border:none;border-top:1px solid #d3d3d3;"/>
    <div>年代 :
        <span class="filter_field">2018</span><span class="filter_field">2017</span>
        <span class="filter_field">2016</span><span class="filter_field">2011-2015</span>
        <span class="filter_field">2000-2010</span><span class="filter_field">90年代</span>
        <span class="filter_field">更早</span>
    </div>

</div>
