<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div>
</div>
<br>
<div>
    <ul id="mm">
        <li>1</li>
    </ul>
</div>
<br>
<div>
    <form action="">
        <input type="text" style="height: 25px;width: 180px">
        <p><input type="submit" value="提交"></p>
    </form>
</div>
</body>
<script src="../static/js/jquery-3.3.1.js" type="text/javascript"></script>
{#<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js" type="text/javascript"></script>#}
<script>
    console.log(1);
    $.getJSON(
        "http://192.168.1.169:8888/a/",
        function (data) {
            console.log(data.data.results);
            data = data.data.results;
            for (var i = 0; i < data.length; i++) {
                $('#mm').appendChild('<li>1</li>')
            }
        }
    )
</script>
</html>