<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div>
</div>
<br>
<div>
    {#    <div class="jumbotron">#}
    {#        <h1>Hello, world!</h1>#}
    {#        <p>...</p>#}
    {#        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>#}
    {#    </div>#}
    <div id="mm">

    </div>
</div>
<br>
<div>

    <form action="">
        <input type="text" style="height: 25px;width: 180px">
        <p><input type="submit" value="提交"></p>
    </form>
</div>
</body>
<script src="../static/js/jquery-3.3.1.js" type="text/javascript"></script>
{#<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js" type="text/javascript"></script>#}
<script>
    console.log(1);
    $.getJSON(
        "http://192.168.1.4:8888/a/",
        function (data) {
            console.log(data.data.results);
            data = data.data.results;
            for (var i = 0; i < data.length; i++) {
                console.log(data[0]);
                var tag = $('<div class="jumbotron"></div>');
                tag.append('<h2>' + data[0].name + '</h2><h2>' + data[0].actor + '</h2><h2>' + '<img src="'+data[0].cover+'" width=480px>' + '</h2><h2>' + data[0].type + '</h2><h2>' + data[0].summarize + '</h2>');
                $("#mm").append(tag);
            }
        }
    )
</script>
</html>