<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .item {
            height: 300px;
        }

        .cover {
            display: inline-block;
        }
    </style>
</head>
<body>
<div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">主页</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">登录</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">我的 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="row">
        <div class="row col-md-11" style="min-width: 900px;margin: 2em">
            <div id="mm" class="col-md-7" style="margin: 1.5em;min-width: 820px;float: left">

                <div class="media">

                    <div class="media-body" style="">
                        <a href="/" style="font-size: 25px">我不是药神</a>
                        <div class="media-heading">主演 :徐峥</div>
                        <div class="media-heading">类型 :剧情</div>
                        <div class="media-heading">简介
                            :一位不速之客的意外到访，打破了神油店老板程勇的平凡人生，他从一个交不起房租的男性保健品商贩，
                            一跃成为印度仿制药“格列宁”的独家代理商。收获巨额利润的他，生活剧烈变化，被病患们冠以“药神”
                            的称号。但是，一场关于救赎的拉锯战也在波涛暗涌中慢慢展开。
                        </div>
                    </div>

                </div>
                <div class="media-left media-middle">
                    <img src="https://img3.doubanio.com/view/photo/l/public/p2519070834.webp" width="240px"
                         height="360px">
                </div>
                <div class="media-left media-middle">
                    <img src="https://img3.doubanio.com/view/photo/l/public/p2519070834.webp" width="240px"
                         height="360px">
                </div>
                <div class="media-left media-middle">
                    <img src="https://img3.doubanio.com/view/photo/l/public/p2519070834.webp" width="240px"
                         height="360px">
                </div>

            </div>
            <div class="col-md-4" style="min-width: 360px;float: right;margin: 1.5em">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">热门</h3>
                    </div>
                    <div class="panel-body">
                        <div class="media">

                            <div class="media-body" style="">
                                <a href="/" style="font-size: 25px">我不是药神</a>
                                <div class="media-heading">主演 :徐峥</div>
                            </div> <div class="media-left media-middle">
                    <img src="https://img3.doubanio.com/view/photo/l/public/p2519070834.webp" width="240px"
                         height="160px">
                </div><div class="media-body" style="">
                                <a href="/" style="font-size: 25px">我不是药神</a>
                                <div class="media-heading">主演 :徐峥</div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">最新</h3>
                    </div>
                    <div class="panel-body">
                        <p><a href="/">我不是药神</a></p>
                        <p><a href="/">我不是药神</a></p>
                        <p><a href="/">我不是药神</a></p>
                        <p><a href="/">我不是药神</a></p>
                        <p><a href="/">我不是药神</a></p>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation" style="margin-right:150px;text-align: center">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>
</body>
<script src="../static/js/jquery-3.3.1.js" type="text/javascript"></script>
{#<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js" type="text/javascript"></script>#}
<script>
    console.log(1);
    $.getJSON(
        "http://192.168.1.169:8888/a/1",
        function (data) {
            console.log(data.data.results);
            data = data.data.results;
            for (var i = 0; i < data.length; i++) {
                console.log(data[i]);
                var tag = $('<div class="media"></div>');
                tag.append('<div class="media-left media-middle"><img src="#cover" width="280px" height="360px"></div>'.replace('#cover', data[i].cover));
                tag.append('<div class="media-body"><a href="/" style="font-size: 25px">#name</a>' +
                    '<div class="media-heading">主演 : #actor</div>' +
                    '<div class="media-heading">类型 : type</div>' +
                    '<div class="media-heading">简介 : #summarize</div></div>'.replace('#name', data[i].name).replace('#actor', data[i].actor).replace('type', data[i].type).replace('#summarize', data[i].summarize));
                {#tag.append(#}
                {#    '<h5> 片名 :' + data[i].name + '</h5><h5> 主演 :' + data[i].actor + '</h5>' +#}
                {#    '<img src="' + data[i].cover + '" width=480px>' +#}
                {#    '<h5> 类型 :' + data[i].type + '</h5><h5> 简介 :' + data[i].summarize + '</h5>');#}
                $("#mm").append(tag);
            }
        }
    )
</script>
</html>