{% extends "mode.html" %}


{% block css %}
    <link rel="stylesheet" href="/static/css/index.css">

{% endblock %}


{% block content %}
    <div id="content" style="min-height: 650px;width: 90%;margin:0 5%">

        <div id="title">
            <h3>搜索 : {{ title }}</h3>
        </div>
        <div class="row11">
            <div class="row" style="min-width: 900px;">
                <div id="mm" class="#" style="display:inline-block;margin:0 3%;width:58%;min-width: 58%;float: left">
                    <div class="item">
                        <div class="media">

                            <div class="media-body">
                                <a href="/">我不是药神</a>
                                <div class="media-heading">简介
                                    :一位不速之客的意外到访，打破了神油店老板程勇的平凡人生，他从一个交不起房租的男性保健品商贩，
                                    一跃成为印度仿制药“格列宁”的独家代理商。收获巨额利润的他，生活剧烈变化，被病患们冠以“药神”
                                    的称号。但是，一场关于救赎的拉锯战也在波涛暗涌中慢慢展开。
                                </div>
                            </div>

                        </div>

                        <div class="media-left media-middle">
                            <a href="/">
                                <img src="../static/img/p2519070834.webp">
                            </a>
                        </div>

                        <div class="item_footer"><span class="btn btn-success btn-sm"><a
                                href="/">查看详情</a></span><span
                                class="btn btn-info btn-sm"><a href="/">进入下载</a></span>由 admin 更新于2018-07-22
                        </div>
                    </div>
                    <div class="item">
                        <div class="media">

                            <div class="media-body">
                                <a href="/">我不是药神</a>
                                <div class="media-heading">简介
                                    :一位不速之客的意外到访，打破了神油店老板程勇的平凡人生，他从一个交不起房租的男性保健品商贩，
                                    一跃成为印度仿制药“格列宁”的独家代理商。收获巨额利润的他，生活剧烈变化，被病患们冠以“药神”
                                    的称号。但是，一场关于救赎的拉锯战也在波涛暗涌中慢慢展开。
                                </div>
                            </div>

                        </div>

                        <div class="media-left media-middle">
                            <a href="/">
                                <img src="../static/img/p2519070834.webp">
                            </a>
                        </div>
                        <div class="media-left media-middle">
                            <a href="/">
                                <img src="../static/img/p2519070834.webp">
                            </a>
                        </div>

                        <div class="item_footer"><span class="btn btn-success btn-sm"><a
                                href="/">查看详情</a></span><span
                                class="btn btn-info btn-sm"><a href="/">进入下载</a></span>由 admin 更新于2018-07-22
                        </div>
                    </div>
                    <div class="item">
                        <div class="media">

                            <div class="media-body">
                                <a href="/">我不是药神</a>
                                <div class="media-heading">简介
                                    :一位不速之客的意外到访，打破了神油店老板程勇的平凡人生，他从一个交不起房租的男性保健品商贩，
                                    一跃成为印度仿制药“格列宁”的独家代理商。收获巨额利润的他，生活剧烈变化，被病患们冠以“药神”
                                    的称号。但是，一场关于救赎的拉锯战也在波涛暗涌中慢慢展开。
                                </div>
                            </div>

                        </div>

                        <div class="media-left media-middle">
                            <a href="/">
                                <img src="../static/img/p2519070834.webp">
                            </a>
                        </div>
                        <div class="media-left media-middle">
                            <a href="/">
                                <img src="../static/img/p2519070834.webp">
                            </a>
                        </div>
                        <div class="media-left media-middle">
                            <a href="/">
                                <img src="../static/img/p2519070834.webp">
                            </a>
                        </div>

                        <div class="item_footer"><span class="btn btn-success btn-sm"><a
                                href="/">查看详情</a></span><span
                                class="btn btn-info btn-sm"><a href="/">进入下载</a></span>由 admin 更新于2018-07-22
                        </div>
                    </div>
                    <div class="item">
                        <div class="media">

                            <div class="media-body">
                                <a href="/">我不是药神</a>
                                <div class="media-heading">简介
                                    :一位不速之客的意外到访，打破了神油店老板程勇的平凡人生，他从一个交不起房租的男性保健品商贩，
                                    一跃成为印度仿制药“格列宁”的独家代理商。收获巨额利润的他，生活剧烈变化，被病患们冠以“药神”
                                    的称号。但是，一场关于救赎的拉锯战也在波涛暗涌中慢慢展开。
                                </div>
                            </div>

                        </div>

                        <div class="media-left media-middle">
                            <a href="/">
                                <img src="../static/img/p2519070834.webp">
                            </a>
                        </div>
                        <div class="media-left media-middle">
                            <a href="/">
                                <img src="../static/img/p2519070834.webp">
                            </a>
                        </div>
                        <div class="media-left media-middle">
                            <a href="/">
                                <img src="../static/img/p2519070834.webp">
                            </a>
                        </div>
                        <div class="media-left media-middle">
                            <a href="/">
                                <img src="../static/img/p2519070834.webp">
                            </a>
                        </div>
                        <div class="item_footer"><span class="btn btn-success btn-sm"><a
                                href="/">查看详情</a></span><span
                                class="btn btn-info btn-sm"><a href="/">进入下载</a></span>由 admin 更新于2018-07-22
                        </div>
                    </div>

                </div>

                <div class="right_c"
                     style="display:inline-block;min-width: 31%;width: 31%;float: right;margin: 2%;color: #5e5e5e">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">热门</h3>
                        </div>
                        <div class="panel-body">
                            <div class="media">
                                <a href="/">我不是药神</a>

                                <div class="media-body">
                                    <a href="/">
                                        <img src="../static/img/p2519070834.webp">
                                    </a>
                                </div>

                            </div>
                            <div class="media">
                                <a href="/">我不是药神</a>

                                <div class="media-body">
                                    <a href="/">
                                        <img src="../static/img/p2519070834.webp">
                                    </a>
                                </div>

                            </div>
                            <div class="media">
                                <a href="/">我不是药神</a>

                                <div class="media-body">
                                    <a href="/">
                                        <img src="../static/img/p2519070834.webp">
                                    </a>
                                </div>

                            </div>
                            <div class="media">
                                <a href="/">我不是药神</a>

                                <div class="media-body">
                                    <a href="/">
                                        <img src="../static/img/p2519070834.webp">
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">随机</h3>
                        </div>
                        <div class="panel-body">
                            <div class="media">
                                <a href="/">我不是药神</a>

                                <div class="media-body">
                                    <a href="/">
                                        <img src="../static/img/p2519070834.webp">
                                    </a>
                                </div>

                            </div>
                            <div class="media">
                                <a href="/">我不是药神</a>

                                <div class="media-body">
                                    <a href="/">
                                        <img src="../static/img/p2519070834.webp">
                                    </a>
                                </div>

                            </div>
                            <div class="media">
                                <a href="/">我不是药神</a>

                                <div class="media-body">
                                    <a href="/">
                                        <img src="../static/img/p2519070834.webp">
                                    </a>
                                </div>

                            </div>
                            <div class="media">
                                <a href="/">我不是药神</a>

                                <div class="media-body">
                                    <a href="/">
                                        <img src="../static/img/p2519070834.webp">
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <nav aria-label="Page navigation" style="margin-right:150px;text-align: center">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

{% endblock %}


{% block js %}
    <script type="text/javascript">
        $(".filter_field").click(function () {
            $(this).css('background-color', '#5bc0de').css('color','white');
            $(this).siblings().css('background-color', '').css('color','black');
        })
    </script>
{% endblock %}
